# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Мои документы\Програмування\Logos\JS Core\15_jQuery. Підключення, основні селектори, базові методи\Home\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
